app/.idea/.name
app/.idea/compiler.xml
app/.idea/gradle.xml
app/.idea/misc.xml
app/.idea/modules.xml
app/.idea/runConfigurations.xml
app/.idea/vcs.xml
app/.idea/workspace.xml
app/.idea/copyright/profiles_settings.xml
app/.idea/libraries/appcompat_v7_22_0_0.xml
app/.idea/libraries/gridlayout_v7_22_2_0.xml
app/.idea/libraries/support_annotations_22_2_0.xml
app/.idea/libraries/support_v13_22_2_0.xml
app/.idea/libraries/support_v4_22_2_0.xml
app/.gradle/2.4/taskArtifacts/cache.properties
app/.gradle/2.4/taskArtifacts/cache.properties.lock
app/.gradle/2.4/taskArtifacts/fileHashes.bin
app/.gradle/2.4/taskArtifacts/fileSnapshots.bin
app/.gradle/2.4/taskArtifacts/outputFileStates.bin
app/.gradle/2.4/taskArtifacts/taskArtifacts.bin
app/gradle/wrapper/gradle-wrapper.jar
app/gradle/wrapper/gradle-wrapper.properties
app/.gradle/2.2.1/taskArtifacts/cache.properties
app/.gradle/2.2.1/taskArtifacts/cache.properties.lock
app/.gradle/2.2.1/taskArtifacts/fileHashes.bin
app/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
app/.gradle/2.2.1/taskArtifacts/outputFileStates.bin
app/.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
